.GameSettings {
    height: 600px;
    width: 300px;
    grid-column: 6/7;
    grid-row: 2/3;
    background: #212020;
}
.GameSettings h2 {
    color: white;
    text-align: center;
    margin: 10px;
}
.GameSettings h3 {
    color: white;
    margin: 10px;
}
.TimeControl {
    display: flex;
}
.TimeControl input {
    background: #383635;
    border: 0;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    color: white;
}
.TimeControl input::placeholder {
    padding-left: 5px;
}
.GameSettingsInput {
    display: flex;
    flex-direction: column;
}
.GameSettingsInput p {
    color: white;
    margin-left: 10px;
}