.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(49, 47, 42);
}

/* ---Content--- */
.content {
  margin: auto;
  display: grid;
  max-width: 1612px;
  grid-template-rows: 30px 600px;
  grid-template-columns: 58px 600px 58px 400px 58px 300px 58px;
  height: calc(100vh - 40px);
}
.homeBoard {
  grid-column: 2/3;
  grid-row: 2/3;
}
